{% extends 'base.html.twig' %}

{% block title %}Hel {% endblock %}
{% block body %}
    <table border="1">
        <thead>
             <tr>
                <th>id</th>
                <th>name</th>
                <th>amount</th>
            </tr>
        </thead>
    {% for item in items %}
        <tr>
            <td>
                {{ item.id }}
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.amount }}
            </td>
            <td>
                <a href="delete/{{ item.id }}">Usuń</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
