<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div style="margin-top: 20px; margin-bottom: 20px">
        <a href="/create"><button>Create</button></a>
        <a href="/items/all"><button>Show all</button></a>
        <a href="/items/found"><button>Show in stock</button></a>
        <a href="/items/notfound"><button>Show out of stock</button></a>
        <a href="/items/foundfive"><button>Amount greater than 5</button></a>
    </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
